{% extends 'base.jinja' %}

{% block content %}
<h1>{{ title }}</h1>

{% for level in levels %}
<P>{{ level.skater.full_name }} attends {{ level.lesson.name }} at {{ level.level_reached }} level!</P>
<hr>
{% endfor %}

<i>Want to book a skater to a lesson?</i>
<p><a href="/skaters">Click here</a> to choose a skater!</p>
<p>or...</p>
<p><a href="/lessons">Click here</a> to choose a lesson</p>

{# <p><a href="/levels/new">Book skater to lesson</a></p> #}
{% endblock %}