{% extends 'base.jinja' %}

{% block content %}
<h1>Upcoming Lessons!</h1>

{% for lesson in lessons %}

    <p class="lesson_name">
        <a>{{ lesson.name }}</a>
    </p>

{% endfor %}

{% endblock %}