{% extends 'base.jinja' %}

{% block content %}
<h1>{{ title }}</h1>

{% for lesson in lessons %}

    <p class="lesson-name">
        <a href="/lessons/{{ lesson.id }}">{{ lesson.name }}</a> &rarr; every {{ lesson.day}}!
    </p>
    <hr>

{% endfor %}

<p><a href="/lessons/new">Create new lesson</a></p>
{% endblock %}