{% extends 'base.jinja' %}

{% block content %}
<h1>{{ title }}</h1>


<p>Every {{ lesson.day }} </p>
{% if lesson.premium %}
WARNING: THIS LESSON IS FOR PREMIUM MEMBERS ONLY!
{% endif %}
<p>Total capacity: {{ lesson.capacity }}</p>
<p>

    <u>There are {{ skater_count }} skaters in this lesson:</u> 
   
        {% for skater in skaters_in_lesson %}
            <p><a href="/skaters/{{ skater.id }}">{{ skater.full_name }}</a></p>
        {% endfor %}

</p>
<p>That means there are {{ spaces_in_lesson }} spaces left in this lesson!</p>

{% if lesson.capacity > skater_count %}
<p><a href="/lessons/{{ lesson.id }}/book">Book Skater onto This Lesson</a> </p>
{% else %}
<p><i>Look out for lessons that still have space!</i></p>
{% endif %}
<p><a href="/lessons/{{ lesson.id }}/edit">Edit lesson details</a> </p>
<form class="delete-form" action="/lessons/{{ lesson.id }}/delete" method="POST">
        <button class="trash-button">REMOVE LESSON</button>
</form>

<p><a href="/lessons">Back to Lessons</a></p>
{% endblock %}