body {
    background: url('/static/images/roller-skates-low-contrast.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: #fdfdfd;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    padding: 2px;
    margin: 5px; 
}

.nav-bar > nav > ul {
    color: #ffff;
    list-style: none;
    text-decoration: none;
}


h1 {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin: 0px;
    padding: 10px; 
}

a {
    color: rgb(73, 229, 253);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#content {
    padding: 8px;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header > h2 {
    font-size: 60px;
}

#header > nav > ul {
    list-style: none;
}

.header {grid-area: header;}
.nav-bar {grid-area: nav-bar;}
.main {grid-area: main;}

.grid-container {
    display: grid;
    grid-template-areas: 
    'nav-bar header'
    'nav-bar main'
    'nav-bar main';
    gap: 5px;
    padding: 15px;
    width: 100vw;
}

#level-list-item {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

#level-list-item:hover {
    background-color: rgb(48, 6, 43);
    font-weight: 900;
}

#main-title {
    background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #b01d4e 67%,
    #ccc738 100%);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border:  1px solid rgb(48, 6, 43);
    border-radius: 10px; 
}

#slogan {
    background-color: rgb(250, 222, 222);
    color: black;
}

.lesson-name:hover {
    background-color: rgb(48, 6, 43);
    font-weight: 900;
}

.skater-details:hover {
    background-color: rgb(48, 6, 43);
    font-weight: 900;
}