{% extends 'base.jinja' %}

{% block content %}
<h1>{{ title }}</h1>

<form action="/skaters/{{ skater.id }}" method="post">
    <div>
        <label for="full_name">Full Name: </label>
        <input type="text" id="full_name" name="full_name" value="{{ skater.full_name }}" required autofocus>
    </div>
    {# could add if statement here to autofill currectly #}
    <div>
        <label for="premium_member">Are they a Premium member? </label>
        <select id="premium_member" name="premium_member">
            <option value="False">No</option>
            <option value="True">Yes</option>
        </select>
    </div>
    <div>
        <button type="submit">Update Skater</button>
    </div>
    
{# this saves the lesson successfully, but doesn't pass the premium boolean through to the show page #}

{% endblock %}