<!DOCTYPE html>
<html>
<head>
  <title>RinkedIn</title>
  {# <link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}"> #}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  {# <link rel="stylesheet" href="{{ url_for('static', filename='css/tables.css') }}">  #}
</head>
<div class="grid-container">
  <body>
      <main class="flex flex--row">
        <section  class="header" id="header">
          <div class="nav-bar">
            <nav>
              <ul>
                <li>
                  <a href="/">Home</a>
                </li>
                <li>
                  <a href="/lessons">Lessons</a>
                </li>
                <li>
                  <a href="/skaters">Skaters</a>
                </li>
                <li>
                  <a href="/about">About</a>
                </li>
                <li>
                  <a href="/levels">Bookings and Levels</a>
                </li>
              </ul>
            </nav>
          </div>
          <h2 id="main-title">RinkedIn</h2>
          <h3 id="slogan">Track your bookings. Like a GOD.</h3>
        </section>
      <section class="main" id="content">
          {% block content %}

          {% endblock%}
      </section>
      </main>
  </body>
</div>
</html>