<!DOCTYPE html>
<html>
<head>
  <title>AGJ Roller Rink</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/tables.css') }}"> 
</head>
<body>
  <main class="flex flex--row">
    <section id="header">
      <nav>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/lessons">Lessons</a>
          </li>
          <li>
            <a href="/skaters">Skaters</a>
          </li>
          <li>
            <a href="/about">About</a>
          </li>
          <li>
            <a href="/levels">Bookings and Levels</a>
          </li>
        </ul>
      </nav>
      <h2>AGJ Roller Rink</h2>
      <h3>Track your bookings, live your dream</h3>
    </section>
  <section id="content">
      {% block content %}

      {% endblock%}
  </section>
  </main>
</body>
</html>