{% extends 'base.jinja' %}

{% block content %}
<h1>{{ title }}!</h1>
<p>It looks like you might have tried to add a skater to a lesson they're already booked into.</p>
<p>Why don't you head back to the page and try again?</p>
{% endblock %}